*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	font: inherit;
	margin: 0;
	padding: 0;
	font-family: "Poppins", sans-serif;
	line-height: 1.69rem;
}

/* MAIN TITLE */
h1 {
	font-family: "Lobster", cursive;
	font-size: 3rem;
	margin: 40px auto 15px;
	max-width: 500px;
	text-align: center;
}

/* IMAGE */
img {
	display: block;
	margin: 30px auto 20px;
	max-width: 533px;
	width: auto;
	background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Supporting Paragraphs */
.support-info {
	text-align: justify;
	text-align-last: left;
	font-style: italic;
	padding: 10px;
	line-height: 1.3rem;
	font-size: 17px;
	color: rgb(51, 51, 51);
	max-width: 550px;
	width: auto;
	margin: 0 auto;
}

.author {
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-size: 12px;
	background: rgba(51, 51, 51, 0.08);
	font-weight: 500;
	max-width: 200px;
	margin: 5px auto 20px;
	text-align: center;
}

.bold {
	font-weight: bold;
}

/* SECTIONS */
section {
	max-width: 550px;
	min-width: 300px;
	margin:  auto;
}

section {
	background: #f9f9f9;
}

.section-title {
	font-family: "Lobster", cursive;
	font-size: 1.5rem;
	margin: 15px;
	padding: 1rem 2rem 2px;
	border-bottom: 2px solid rgb(226, 221, 204);
}

li {
	text-align: left;
	line-height: inherit;
	padding-bottom: 0.7rem;
	color: rgb(51, 51, 51);
	list-style-position: inside;
}

ul,
ol {
	max-width: 400px;
	margin: 0 auto;
	padding:0 20px;
}

/* INGREDIENTS SECTION */

ul {
	list-style-type: disc;
}

/* INSTRUCTIONS SECTION */

Ol {
	list-style-type: 1;
}

ol li:last-of-type {
	margin-bottom: 30px;
}

/*FOOTER*/

a,
a:link,
a:visited {
	text-decoration: none;
}

a:hover {
	color: cadetblue;
}

#resource {
	max-width: 550px;
	min-width: 300px;
	margin: 10px auto 20px;
	background-color: #607d8b	;
	padding: 10px;

	p {
		color: #ffff;
		text-align: center;
	}
}

@media screen and (max-width: 500px) {
	img {
		width: 70%;
	}
}